main {
    margin-top: 70px;
}
.footer-hr {
    margin-bottom: 5px;
}
.ico-padding{
    padding-right: .3em;
}
.section-header-btns {
    margin-bottom: 1em;
}
.text-middle {
    vertical-align: middle !important;
}
.alert-header-section {
    padding-top: 5px;
    padding-bottom: 5px;
}