@using Financial.Internationalization
@if (WebSecurity.IsAuthenticated)
{
    <li>
        <a href="@Url.RouteUrl("Start")" title="@Labels.Start">
            <span class="fa fa-home" aria-hidden="true"></span>
            <span class="sr-only">@Labels.Start</span>
        </a>
    </li>
}