@model Financial.Models.Entities.User

@{
    ViewBag.Title = "Cadastre-se";
}
<div class="text-center">
    <h2 class="text-warning">Funcionalidade inoperante :/</h2>
    <h4><em>por enquanto (:</em></h4>
</div>